.note-title {

}

.note-content-title {

}

.note-content-subtitle {

}

.note-content-text {

}

.note-content-table {

}

.note-content-img {

}

.note-content-code {

}

.note-mind {

}

.note-care {

}

.note-warning {

}
