body {
    box-sizing: border-box;
    font-family: 'Saira', Arial, sans-serif;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Top Bar */
.top{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0);
    z-index: 1000;
    width: 100%;
    height: 70px;
    border-radius: 0 0 15px 15px;
    opacity: 1;
    top: 0;
}
.top-clock {
    color: #e3e3e3;
    font-size: 1.5em;
    font-family: 'Saira', Arial, sans-serif;
    margin-right: auto;
    margin-left: 20px;
}
.top svg{
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 5px;
    margin-right: 20px;
}
.top svg:hover {
    transform: scale(1.2);
}

/* Header */
.header{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 60px;
    align-items: flex-end;
}
.header-main{
    height: 350px;
    width: 1100px;
    background-image: url(./assets/micomet.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    position: relative;
}
.header-main-title{
    position: absolute;
    bottom: 30px;
    right: 50px;
    font-size: 2.5em;
    color: white;
    font-family: 'Saira', Arial, sans-serif;
    white-space: pre;
}
.header-sub{
    height: 130px;
    width: 400px;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header-main, .header-sub {
    opacity: 1;
    background-color: #424242;
    border-radius: 30px;
}

/* Header Buttons */
.header-btn-group {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 5px 5px;
    gap: 10px;
}
.header-btn {
    width: 200px;
    height: 60px;
    border-radius: 25px;
    background-color: #707070;
    border: none;
    cursor: pointer;

    display: relative;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    font-family: 'Saira', Arial, sans-serif;
    padding-top: 25px;
    padding-left: 15px;
    text-align: left;
}
.header-btn:hover {
    transform: scale(1.05);
}

#header-btn-about {
    background-color: #c4f7c88f;
}
#header-btn-links {
    background-color: #9bf8c594;
}
#header-btn-tutorial {
    background-color: #9ffafd91;
}
#header-btn-project {
    background-color: #abf7f788;
}

/* Content Wrapper (Notes & Side Cards) */
.content-wrapper {
    width: 100%;
    max-width: 1700px;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 20px;
    gap: 90px;
}

/* Notes Container (Content Wrapper Left) */
.notes-container {
    flex: 0;
    margin-left: 200px;
    display: grid;
    grid-template-columns: repeat(3,270px);
    width: fit-content;
    gap: 16px;
    padding: 16px;
}

.note-item {
    font-family: 'Saira', Arial, sans-serif;
    background-color: #424242;
    border-radius: 35px;
    width: auto;
    height: 350px;
    opacity: 0;
    z-index: 100;
    cursor: pointer;
}
.note-item img{
    position: relative;
    width: 100%;
    min-height: 100px;
    border-radius: 35px 35px 0 0;
    object-fit: cover;
}
.note-item-topic {
    position: relative;
    color: #c9c9c9;
    font-size: 1em;
    top: 15px;
    left: 25px
}

.note-item-title {
    position: relative;
    top: 15px;
    left: 25px;

    width: 85%;
    height: 95px;

    color: #ffffff;
    font-size: 1.7em;

    overflow: hidden;
    text-overflow: ellipsis;
}

.note-item-tags {
    position: relative;
    top: 35px;
    left: 30px;
    
    height: 30px;
    width: 80%;
    
    color: #ffffff;
    font-size: 1em;

    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}

/* Side Cards (Content Wrapper Right) */
.side-cards {
    margin: 0;
    flex-shrink: 0;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 350px;
}

.side-cards > div {
    border-radius: 35px;
    text-align: center;
    gap: 10px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}

/* Side Card - Normal */
.side-about {
    position: relative;
    z-index: 2;
}

/* Side Card - Pin */
.side-tags {
  position: sticky;
  top: 10vh;
  max-height: 75vh;
  overflow-y: auto;
  z-index: 2;
}
.side-notes {
  position: sticky;
  top: calc(10vh + 210px); /* 視實際卡片高度微調 */
  max-height: 75vh;
  overflow-y: auto;
  z-index: 1;
}
.side-online-timer {
  position: sticky;
  top: calc(10vh + 470px); /* 視實際卡片高度微調 */
  max-height: 75vh;
  overflow-y: auto;
  z-index: 1;
}

/* Side Card - About */
.side-about {   
    height: 210px;
    background-color: #c2f8b188;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.side-about-text {
    position: absolute;
    top: 25px;
    left: 30px;
    font-size: 1.8em;
    color: #ffffff;
    font-family: 'Saira', Arial, sans-serif;
    z-index: 2;
}
.side-about-text-sub {
    position: absolute;
    top: 80px;
    left: 50px;
    font-size: 1.2em;
    font-style: italic;
    color: #e1fae2;
    font-family: 'Saira', Arial, sans-serif;
    z-index: 2;
}
.side-about img {
    padding: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 1;
}
.side-about-icon {
    position: relative;
    bottom: 20px;
    left: 20px;
    background-color: #b0cbb7;
    border-radius: 50%; 
}
.side-about-icon:hover {
    transform: scale(1.1);
}
.side-about-arrow {
    position: relative;
    width: 130px;
    bottom: -10px;
    left: 190px;
    background-color: #80ae8e;
    border-radius: 50% 0 20% 30%;
}
.side-about-arrow:hover {
    transform: translateX(-20px);
}

/* Side Card - Notes */
.side-notes {
    height: 250px;
    background-color: #70707088;
}

/* Side Card - Tags */
.side-tags {
    display: flex;
    height: fit-content;
    background-color: #70707088;
    padding: 10px 10px;
    flex-direction: column;
    align-items: flex-start;
}

.side-tags-title {
    font-family: "Saira", Arial, sans-serif;
    color: white;
    font-size: 1.5em;
    margin: 15px;

}

.side-tags-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tag-item {
    font-family: "Saira", Arial, sans-serif;
    color: white;
    background-color: #424242;
    border-radius: 20px;
    margin: 2px;
    font-size: 1em;
    cursor: pointer;
    height: fit-content;
    box-sizing: border-box;
    padding: 10px 12px;

    display: inline-grid;
    grid-template-columns: 1fr auto;
    gap: 3px;
    align-items: center;
    max-width: 260px; 
}

.tag-item-label {
    white-space: normal; /* 允許換行 */
    word-break: break-word;
    overflow-wrap: anywhere;
}

.tag-item-count {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    color: #d3d3d3;
    border-radius: 50%;
    background-color: #616161;
    width: 10px;
    height: 10px;
    padding: 6px;
    flex: none;
}

/* Side Card - Timer */
.side-online-timer {
    width: 100%;
    background-color: #424242;
    font-family: "Saira", Arial, sans-serif;
    color: white;
    text-align: center;
    padding-block: 20px;
    overflow: hidden;
    z-index: 0;
}
.side-online-timer::after {
  content: "";
  position: absolute;
  bottom: -60px;
  right: -60px;
  width: 200px;
  height: 180px;
  background: url(./assets/clock.svg) no-repeat bottom right / contain;
  opacity: 0.15;
  z-index: -1;
}
